<section class="{{cssClass}} item-class" autocomplete="off">
  {{> "systems/twodsix/templates/items/parts/image-name.hbs"}}

  {{#if settings.useTabbedViews}}
    {{> "systems/twodsix/templates/misc/navigation-tabs.hbs"}}

    <section class="sheet-body auto-height">
      <section class="tab {{tabs.description.cssClass}}" data-group="primary" data-tab="description">
        <div class="item-descr">
          <span class="resource-label">{{localize "TWODSIX.Items.Equipment.Description"}}</span>
          <prose-mirror name="system.description" data-document-u-u-i-d="{{item.uuid}}"
                        value="{{item.system.description}}" collaborate="true" toggled="true">
            {{{enrichedDescription}}}
          </prose-mirror>
        </div>
      </section>
      <section class="tab {{tabs.career.cssClass}}" data-group="primary" data-tab="career">
        {{> "systems/twodsix/templates/items/parts/career-body.hbs"}}
      </section>
    </section>

  {{else}}
    <section class="sheet-body auto-height">
      <div class="item-descr">
        <span class="resource-label">{{localize "TWODSIX.Items.Equipment.Description"}}</span>
        <prose-mirror name="system.description" data-document-u-u-i-d="{{item.uuid}}"
                      value="{{item.system.description}}" collaborate="true" toggled="true">
          {{{enrichedDescription}}}
        </prose-mirror>
      </div>
      <hr/>
      {{> "systems/twodsix/templates/items/parts/career-body.hbs"}}
    </section>
  {{/if}}

  {{> "systems/twodsix/templates/items/parts/reference-footer.hbs"}}
  {{#if settings.useItemAEs}}{{> "systems/twodsix/templates/items/parts/footer.hbs"}}{{/if}}
</section>