<section class="{{cssClass}}" class="item-class" autocomplete="off">
  <div class="item-data">
    <label for="name" class="resource-label">{{localize "TWODSIX.Ship.PositionName"}}</label>
    <input class="form-input" type="text" name="name" value="{{item.name}}" />
  </div>
  <div class="item-data">
    <label for="system.order" class="resource-label">{{localize "TWODSIX.Ship.Order"}}</label>
    <input class="form-input" type="number" name="system.order" value="{{system.order}}" data-dtype="Number" />
  </div>

  {{#if hasShipActor}}
  <div class="position-data">
    <span class="item-title-npc">{{localize "TWODSIX.Ship.Travellers"}}</span>
    <table class="ship-action-table">
      <thead>
        <tr>
          <th></th>
          <th>{{localize "TWODSIX.Actor.Items.Name"}}</th>
          <th class="centre">
            <a class="ship-position-details-action-addActor" data-tooltip='{{localize "TWODSIX.Ship.AddActorToPosition"}}' data-action="addActor">
              <i class="fa-solid fa-plus"></i>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each actors as |actor|}}
        <tr class="ship-position-details-actor" data-id="{{actor.id}}" data-drag="actor">
          <td><a><img src="{{actor.img}}" width="20" height="20" data-action="showActor"></a></td>
          <td>{{actor.name}}</td>
          <td class="centre">
            <a class="ship-position-details-actor-delete" data-id="{{actor.id}}" data-tooltip='{{localize "TWODSIX.Ship.RemoveTraveller"}}' data-action="deleteActor">
              <i class="fa-solid fa-trash"></i>
            </a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{/if}}

  <div class="position-data">
    <span class="item-title-npc">{{localize "TWODSIX.Ship.Actions"}}</span>
    <table class="ship-action-table">
      <thead>
        <tr>
          <th style="min-width: 6ch;">{{localize "TWODSIX.Ship.Order"}}</th>
          <th>{{localize "TWODSIX.Ship.Name"}}</th>
          <th>{{localize "TWODSIX.Ship.MacroSkill"}}</th>
          <th>{{localize "TWODSIX.Ship.Component"}}</th>
          <th>{{localize "TWODSIX.Ship.ActionType"}}</th>
          <th class="centre">
            <a class="ship-position-details-action-create" data-tooltip='{{localize "TWODSIX.Ship.CreateAction"}}' data-action="createAction">
              <i class="fa-solid fa-plus"></i>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedActions as |action|}}
        <tr class="ship-position-details-action">
          <td><input type="number" style="width: 5ch;" name="system.actions.{{action.id}}.order"
              value="{{action.order}}" data-dtype="Number"></td>
          <td data-id="{{action.id}}" class="action-name">
            <img src="{{action.icon}}" data-edit="system.actions.{{action.id}}.icon" data-action="editImage" width="24" height="24" style="vertical-align: middle;">
            <input style="width: calc(100% - 30px); vertical-align: middle;" type="text" name="system.actions.{{id}}.name" value="{{action.name}}">
          </td>
          <td>
            <input type="text" placeholder="{{localize action.placeholder}}" name="system.actions.{{id}}.command"
              value="{{action.command}}" data-tooltip="{{localize action.tooltip}}">
          </td>
          <td>
            <select style="width: calc(100% - 2px);" name="system.actions.{{id}}.component" {{#iff action.type "===" "chatMessage"}} disabled {{/iff}}>
              <option value="">{{localize TWODSIX.Ship.None}}</option>
              {{#each ../nonCargoComponents as |component|}}
                <option {{#iff action.component '===' component.id}} selected {{/iff}} value="{{component.id}}">{{component.name}}</option>
              {{/each}}
            </select>
          </td>
          <td>
            <select style="width: calc(100% - 2px);" name="system.actions.{{action.id}}.type">
              {{selectOptions ../availableActions selected = action.type labelAttr = "name" localize=true}}
            </select>
          </td>
          <td class="centre">
            <a class="ship-position-details-action-delete" data-id="{{action.id}}" data-tooltip='{{localize "TWODSIX.Ship.DeleteAction"}}' data-action="deleteAction">
              <i class="fa-solid fa-trash"></i>
            </a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
