<span class="item-name">{{localize "TWODSIX.Items.Component.CargoItem"}}</span>
<span class="item-name centre">{{localize "TWODSIX.Items.Equipment.Weight"}}</span>
<span class="item-name centre">{{localize "TWODSIX.Actor.Items.Qty"}}</span>
<span class="item-name centre">{{localize "TWODSIX.Items.Component.Price"}}</span>
<span class="item-name centre">{{localize "TWODSIX.Items.Component.isIllegal"}}</span>
<span class="item-name centre"><a class="item-control item-create" data-tooltip='{{localize "TWODSIX.Actor.Items.CreateItem"}}' data-type="component" data-subtype="cargo" data-action="itemCreate"><i
  class="fa-solid fa-plus"></i></a></span>
