<div class = "cargo-all">
  {{#unless settings.showWeightUsage}}
  <div class="cargo-weight">
    <span class="ship-stat centre">{{localize "TWODSIX.Ship.CargoWeight"}}: <input {{#if settings.useShipAutoCalc}}readonly{{/if}} type="number" value="{{actor.system.weightStats.cargo}}" name="system.weightStats.cargo" /><span class = "small-font">{{localize "TWODSIX.Ship.dtons"}}</span></span>
    {{#iff actor.system.weightStats.available '>=' 0}}
      <span class="ship-stat centre">{{localize "TWODSIX.Ship.AvailableCargoWeight"}}: <input type="number" {{#if settings.useShipAutoCalc}}readonly{{/if}} value="{{actor.system.weightStats.available}}" name="system.weightStats.available" ><span class = "small-font">{{localize "TWODSIX.Ship.dtons"}}</span></span>
    {{else}}
      <span class="ship-stat centre red">{{localize "TWODSIX.Ship.AvailableCargoWeight"}}: <input class="available-weight red" type="number" {{#if settings.useShipAutoCalc}}readonly{{/if}} value="{{actor.system.weightStats.available}}" name="system.weightStats.available" ><span class = "small-font">{{localize "TWODSIX.Ship.dtons"}}</span></span>
    {{/iff}}
  </div>
  {{/unless}}
  <div class="cargo-list">
    <span class="item-title manifest">{{localize "TWODSIX.Ship.MANIFEST"}}</span>
    {{#if settings.showSingleCargoColumn}}
      {{> "systems/twodsix/templates/actors/parts/ship/ship-cargo-list-single.hbs"}}
    {{else}}
      {{> "systems/twodsix/templates/actors/parts/ship/ship-cargo-list-double.hbs"}}
    {{/if}}
  </div>
  <div class="cargo-wrapper">
    <span class="item-title">{{localize "TWODSIX.Ship.CARGONOTES"}}</span>
    {{#if settings.useProseMirror}}
    <prose-mirror name="system.cargo" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.cargo}}" collaborate="true" toggled="true">
      {{{richText.cargo}}}
    </prose-mirror>
    {{else}}
      <div contenteditable="true" data-edit="system.cargo">{{#if actor.system.cargo}}{{{actor.system.cargo}}}{{/if}}</div>
    {{/if}}
  </div>
</div>
