<div class="ship-characteristics">
  {{#each this.system.characteristics as |char key|}}
  {{#with ../actor as |actor|}}
    <div class="stat {{key}}" data-characteristic="{{key}}">
    <span class="rollable-characteristic" data-tooltip="{{twodsix_invertSkillRollShiftClick}}" data-roll="2d6+{{char.mod}}" data-label="{{char.shortLabel}}" data-action="rollChar">
      <i class="fa-solid fa-dice" alt="d6"></i> {{localize "TWODSIX.Ship.Morale"}}</span>
    <span class="stat-ability-ship" >
      {{localize "TWODSIX.Damage.Max"}}:
      <input type="number" min="0" name="system.characteristics.{{key}}.value"
                                      data-label="system.characteristics.{{key}}.value" value="{{char.value}}"
                                      placeholder="0" data-dtype="Number" onClick="this.select();"/>
    </span>
    <span class="stat-modifier-ship">
      {{localize "TWODSIX.Damage.Mod"}}:
      <input readonly type="text"
                                      value="{{numberFormat char.mod decimals=0 sign=true}}"/>
    </span>
    <span class="stat-damage-ship">
      {{localize "TWODSIX.Damage.Dmg"}}:
      <input type="number" max="{{char.value}}" min="0"
                                    name="system.characteristics.{{key}}.damage" value="{{char.damage}}"
                                    placeholder="0" data-dtype="Number" onClick="this.select();"/>
    </span>
  </div>
  {{/with}}
  {{/each}}
</div>
