{{#each summaryStatus}}
    {{#iff @key "!==" "cargo"}}
    {{#iff @key "!==" "otherInternal"}}
    {{#iff @key "!==" "otherExternal"}}
    {{#iff @key "!==" "mount"}}
    {{#iff @key "!==" "vehicle"}}
    {{#iff @key "!==" "software"}}
      <span class="status-component" data-uuid="{{this.uuid}}" data-action="itemLink">
        <i class= '{{twodsix_getComponentIcon @key}}'
        {{#iff this.status "===" 'operational'}} style="color: green;"
        {{else iff this.status "===" 'damaged'}} style="color: yellow;"
        {{else iff this.status "===" 'destroyed'}} style="color: red;"
        {{else iff this.status "===" 'off'}} style="color: grey;"
        {{/iff}}
        data-tooltip='{{localize (concat "TWODSIX.Items.Component." @key)}}'></i>
      </span>
    {{/iff}}{{/iff}}{{/iff}}{{/iff}}{{/iff}}{{/iff}}
{{/each}}
