<span class="item-name">{{item.name}}</span>
<span class="item-name centre">{{getComponentWeight item}}</span>
<span class="item-name centre">{{item.system.quantity}}</span>
<span class="item-name centre">{{getComponentPrice item}}</span>
<span class="item-name centre">{{#if item.system.isIllegal}}<i class="fa-solid fa-skull-crossbones"></i>{{/if}}</span>
<span class="item-controls centre">
  <a class="item-control item-edit" data-tooltip='{{localize "TWODSIX.Actor.Items.EditItem"}}' data-action="itemEdit"><i
    class="fa-solid fa-pen-to-square"></i></a>
  <a class="item-control item-delete" data-tooltip='{{localize "TWODSIX.Actor.Items.DeleteItem"}}' data-action="itemDelete"><i
    class="fa-solid fa-trash"></i></a>
</span>
