<div class="crew-list">
  <div class="ship-grid">

    <div>
      <input type="text" class="item-title" name="system.crewLabel.captain" value="{{actor.system.crewLabel.captain}}">
      <input type="text" value="{{actor.system.crew.captain}}" name="system.crew.captain"/>
    </div>

    <div>
      <input type="text" class="item-title" name="system.crewLabel.pilot" value="{{actor.system.crewLabel.pilot}}">
      <input type="text" value="{{actor.system.crew.pilot}}" name="system.crew.pilot"/>
    </div>

    <div>
      <input type="text" class="item-title" name="system.crewLabel.astrogator" value="{{actor.system.crewLabel.astrogator}}">
      <input type="text" value="{{actor.system.crew.astrogator}}" name="system.crew.astrogator"/>
    </div>

    <div>
      <input type="text" class="item-title" name="system.crewLabel.maintenance" value="{{actor.system.crewLabel.maintenance}}">
      <input type="text" value="{{actor.system.crew.maintenance}}" name="system.crew.maintenance"/>
    </div>

    <div>
      <input type="text" class="item-title" name="system.crewLabel.medic" value="{{actor.system.crewLabel.medic}}">
      <input type="text" value="{{actor.system.crew.medic}}" name="system.crew.medic"/>
    </div>

    <div>
      <input type="text" class="item-title" name="system.crewLabel.steward" value="{{actor.system.crewLabel.steward}}">
      <input type="text" value="{{actor.system.crew.steward}}" name="system.crew.steward"/>
    </div>

    <div>
      <input type="text" class="item-title" name="system.crewLabel.admin" value="{{actor.system.crewLabel.admin}}">
      <input type="text" value="{{actor.system.crew.admin}}" name="system.crew.admin"/>
    </div>

    <div>
      <input type="text" class="item-title" name="system.crewLabel.broker" value="{{actor.system.crewLabel.broker}}">
      <input type="text" value="{{actor.system.crew.broker}}" name="system.crew.broker"/>
    </div>

    <div>
      <input type="text" class="item-title" name="system.crewLabel.other" value="{{actor.system.crewLabel.other}}">
      <input type="text" value="{{actor.system.crew.other}}" name="system.crew.other"/>
    </div>

    <div>
      <input type="text" class="item-title" name="system.crewLabel.engineer" value="{{actor.system.crewLabel.engineer}}">
      <textarea name="system.crew.engineer">{{~actor.system.crew.engineer~}}</textarea>
    </div>

    <div>
      <input type="text" class="item-title" name="system.crewLabel.gunner" value="{{actor.system.crewLabel.gunner}}">
      <textarea name="system.crew.gunner">{{~actor.system.crew.gunner~}}</textarea>
    </div>

    <div>
      <input type="text" class="item-title" name="system.crewLabel.marine" value="{{actor.system.crewLabel.marine}}">
      <textarea name="system.crew.marine">{{~actor.system.crew.marine~}}</textarea>
    </div>
  </div>
</div>

{{> "systems/twodsix/templates/actors/parts/ship/ship-characteristics.hbs"}}
