<div class="item-subtype">
  <label for="system.subtype" class="resource-label">{{localize "TWODSIX.Items.Component.ComponentType"}}: </label>
  <select name="system.subtype">
    {{selectOptions config.ComponentTypes selected = system.subtype localize = true}}
  </select>
</div>

<div class="item-tl">
  <label for="system.techLevel" class="resource-label">{{localize "TWODSIX.Items.Equipment.TL"}}</label>
  <input class="form-input" type="text" name="system.techLevel" value="{{system.techLevel}}" data-dtype="Number"/>
</div>

{{#iff system.subtype "!==" "cargo" }}
  {{#if settings.showComponentRating}}
    <div class="item-tl">
        <label for="system.rating" class="resource-label">{{localize "TWODSIX.Items.Component.rating"}}</label>
        <input class="form-input" type="text" name="system.rating" value="{{system.rating}}"/>
    </div>
  {{/if}}
  {{#if settings.showComponentDM}}
    <div class="item-data">
      <label for="system.rollModifier" class="resource-label">{{localize "TWODSIX.Items.Component.RollModifier"}}</label>
      <input class="form-input" type="text" name="system.rollModifier" value="{{system.rollModifier}}"/>
    </div>
  {{/if}}

  <div class="item-skill">
    <label for="system.status" class="resource-label">{{localize "TWODSIX.Items.Component.status"}}:</label>
    <select class="select-color" name="system.status" value={{system.status}}>
      {{selectOptions config.ComponentStates selected = system.status localize = true}}
    </select>
  </div>
  <div class="item-hits">
    <label for="system.hits" class="resource-label">{{localize "TWODSIX.Items.Component.SustainedHits"}}</label>
    <input class="form-input" type="number" name="system.hits" value="{{system.hits}}" step = "1" min = "0" max = "{{getComponentMaxHits}}"/>
  </div>

  {{#iff system.subtype "!==" "vehicle"}}
  {{#iff system.subtype "!==" "storage"}}
  {{#iff system.subtype "!==" "fuel"}}
    <div class = "item-hardened">
      <label for="system.hardened" class="resource-label short-label">{{localize "TWODSIX.Items.Component.Hardened"}}</label>
      <input type="checkbox" class="checkbox" name="system.hardened" {{checked system.hardened}} data-dtype="Boolean" />
    </div>
  {{/iff}}{{/iff}}{{/iff}}
{{/iff}}

{{#iff system.subtype "===" "fuel" }}
  <div class="item-refined">
    <label for="system.isRefined" class="resource-label short-label">{{localize "TWODSIX.Items.Component.IsRefined"}}</label>
    <input type="checkbox" class="checkbox" name="system.isRefined"  {{checked system.isRefined}} data-dtype="Boolean" />
  </div>
{{/iff}}
{{#iff system.subtype "===" "computer" }}
  <div class="item-data">
    <label for="system.bandwidth" class="resource-label short-label">{{localize "TWODSIX.Items.Computer.ProcessingPower"}}</label>
    <input class="form-input" type="number" name="system.bandwidth" value="{{system.bandwidth}}" step = "1" min = "0"/>
  </div>
{{/iff}}
{{#iff system.subtype "===" "software" }}
  <div class="item-data">
    <label for="system.bandwidth" class="resource-label short-label">{{localize "TWODSIX.Items.Consumable.Bandwidth"}}</label>
    <input class="form-input" type="number" name="system.bandwidth" value="{{system.bandwidth}}" step = "1" min = "0"/>
  </div>
{{/iff}}
