{{#iff system.subtype "===" "armament"}}
  <div class="item-damage">
    <label for="system.damage" class="resource-label">{{localize "TWODSIX.Items.Component.damage"}}</label>
    <input class="form-input" type="text" name="system.damage" value="{{system.damage}}"/>
  </div>
  <div class="item-damage">
    <label for="system.radDamage" class="resource-label">{{localize "TWODSIX.Items.Component.RadiationDamage"}}</label>
    <input class="form-input" type="text" name="system.radDamage" value="{{system.radDamage}}"/>
  </div>
  <div class="item-features">
    <span class="resource-label">{{localize "TWODSIX.Items.Component.FireArc"}}</span>
    <div>
        <input class="form-consumable-count" name="system.fireArc.startAngle" type="number" value="{{system.fireArc.startAngle}}" data-dtype="Number" max="360" min="0"/>
        /
        <input class="form-consumable-count" name="system.fireArc.endAngle" type="number" value="{{system.fireArc.endAngle}}" data-dtype="Number" max="360" min="0"/>
         {{localize "TWODSIX.Items.Component.Degrees"}}
    </div>
  </div>
  <div class="item-features">
    <span class="resource-label">{{localize "TWODSIX.Items.Component.Range"}}</span>
    <input class="form-input" type="text" name="system.range" value="{{system.range}}"/>
  </div>
  <div class="item-damage">
    <label class="resource-label" for="system.armorPiercing">{{localize "TWODSIX.Items.Weapon.ArmorPiercing"}}</label>
    <input class="form-input" type="text" name="system.armorPiercing" value="{{system.armorPiercing}}">
  </div>
  <div class="item-rateOfFire">
    <label class="resource-label" for="system.rateOfFire">{{localize "TWODSIX.Items.Weapon.rateOfFire"}}</label>
    <input class="form-input" type="text" name="system.rateOfFire" value="{{system.rateOfFire}}">
  </div>
  <div class="item-features">
    <span class="resource-label">{{localize "TWODSIX.Items.Component.Features"}}</span>
    <input class="form-input" type="text" name="system.features" value="{{system.features}}"/>
  </div>
  <div class="item-skill">
    <label for = "system.associatedSkillName" class="resource-label">{{localize "TWODSIX.Items.Equipment.AssociatedSkillName"}}</label>
    <input class="form-input" type="text" name="system.associatedSkillName" value="{{system.associatedSkillName}}" />
  </div>
  <div class="item-data">
    <span class="resource-label">{{localize "TWODSIX.Items.Component.Ammunition"}}</span>
      <div>
        <input class="form-consumable-count" name="system.ammunition.value" type="number" value="{{system.ammunition.value}}" data-dtype="Number"/>
        /
        <input class="form-consumable-count" name="system.ammunition.max" type="number" value="{{system.ammunition.max}}" data-dtype="Number"/>
      </div>
  </div>
  <div class="item-features">
    <label for="system.shipWeaponType" class="resource-label">{{localize "TWODSIX.Items.Component.WeaponType"}}</label>
    <select name="system.shipWeaponType" >
      {{selectOptions settings.ShipWeaponTypes selected=system.shipWeaponType localize=true inverted=false}}
    </select>
  </div>
{{/iff}}
{{#if (twodsix_canBePopup this)}}
  <div class="item-data">
    <label for="system.isPopup" class="resource-label short-label">{{localize "TWODSIX.Items.Component.isPopup"}}</label>
    <input type="checkbox" class="checkbox" name="system.isPopup" {{checked system.isPopup}} data-dtype="Boolean" />
    {{#if system.isPopup}}
      <label for="system.isExtended" class="resource-label short-label">{{localize "TWODSIX.Items.Component.isExtended"}}</label>
      <input type="checkbox" class="checkbox" name="system.isExtended" {{checked system.isExtended}} data-dtype="Boolean" />
    {{/if}}
  </div>
{{/if}}
