<div class="character-characteristics atom">
  <div class="stat endurance" data-characteristic="endurance">
    <span class="stat-name" data-label="{{system.characteristics.endurance.shortLabel}}" style="cursor: auto;"
                              data-tooltip="{{localize 'TWODSIX.Actor.Endurance'}}" >{{localize "TWODSIX.Actor.Characteristics.END"}}</span>
    {{>"systems/twodsix/templates/actors/parts/actor/actor-stat-1.hbs"}}
    <span class="stat-ability">
      <input type="number" min="0" value="{{system.characteristics.endurance.value}}" placeholder="0"
        {{disabled (twodsix_getTooltip actor 'system.characteristics.endurance.value')}}
        data-tooltip="{{twodsix_getTooltip actor 'system.characteristics.endurance.value'}}"
        name="system.characteristics.endurance.value" data-dtype="Number" onClick="this.select();"/>
  </span>
    <span class="stat-modifier"><input readonly type="text" value="-"/></span>
    <span class="stat-damage"><input type="number" max="{{system.characteristics.endurance.value}}" min="0"
                                     name="system.characteristics.endurance.damage" value="{{system.characteristics.endurance.damage}}"
                                     placeholder="0" data-dtype="Number" onClick="this.select();"/></span>
  </div>

  <div class="stat strength" data-characteristic="strength">
    <span class="stat-name" data-label="{{system.characteristics.strength.shortLabel}}" style="cursor: auto;"
              data-tooltip="{{localize 'TWODSIX.Actor.Lifeblood'}}">{{localize "TWODSIX.Actor.Characteristics.LFB"}}</span>
    {{>"systems/twodsix/templates/actors/parts/actor/actor-stat-1.hbs"}}
    <span class="stat-ability">
      <input type="number" min="0" value="{{system.characteristics.strength.value}}" placeholder="0"
        {{disabled (twodsix_getTooltip actor 'system.characteristics.strength.value')}}
        data-tooltip="{{twodsix_getTooltip actor 'system.characteristics.strength.value'}}"
        name="system.characteristics.strength.value" data-dtype="Number" onClick="this.select();"/>
    </span>
    <span class="stat-modifier"><input readonly type="text" value="-"/></span>
    <span class="stat-damage"><input type="number" max="{{system.characteristics.strength.value}}" min="0"
                                     name="system.characteristics.strength.damage" value="{{system.characteristics.strength.damage}}"
                                     placeholder="0" data-dtype="Number" onClick="this.select();"/></span>
  </div>

  {{#if settings.showContaminationBelowLifeblood}}
    <div class="stat psionicStrength" data-characteristic="psionicStrength">
      <span class="stat-name" name="{{system.characteristics.psionicStrength.shortLabel}}" style="cursor: auto;"
                                      data-tooltip="{{localize 'TWODSIX.Actor.Contamination'}}">  {{localize "TWODSIX.Actor.Characteristics.CTM"}}</span>
      {{>"systems/twodsix/templates/actors/parts/actor/actor-stat-1.hbs"}}
      <span class="stat-ability">
        <input type="number" min="0" value="{{system.characteristics.psionicStrength.value}}" placeholder="0"
          {{disabled (twodsix_getTooltip actor 'system.characteristics.psionicStrength.value')}}
            data-tooltip="{{twodsix_getTooltip actor 'system.characteristics.psionicStrength.value'}}"
            name="system.characteristics.psionicStrength.value" data-dtype="Number" onClick="this.select();"
        />
      </span>
      <span class="stat-modifier"><input readonly type="text" value="-"/></span>
      <span class="stat-damage"><input readonly type="number" max="{{system.characteristics.psionicStrength.value}}" min="0"
                                      name="system.characteristics.psionicStrength.damage" value="{{system.characteristics.psionicStrength.damage}}"
                                      placeholder="0" data-dtype="Number" onClick="this.select();"/></span>
    </div>
  {{/if}}
</div>
