<div class="notes-container">
  <span class="item-title">{{localize "TWODSIX.Actor.Notes.NOTES"}}</span>
  {{#if settings.useProseMirror}}
  <prose-mirror class="actor-editor" name="system.notes" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.notes}}" collaborate="true" toggled="false" {{disabled (twodsix_getTooltip actor 'system.notes')}}>
    {{{richText.notes}}}
  </prose-mirror>
  {{else}}
    <div contenteditable="true" data-edit="system.notes">{{{system.notes}}}</div>
  {{/if}}
</div>
