<div class="finances-container">
  <div class="cash">
    <span class="item-title">{{localize "TWODSIX.Actor.Finances.CASH_ON_HAND"}}</span>
    <input name="system.finances.cash" type="text" value="{{system.finances.cash}}" placeholder="0"/>
  </div>

  <div class="pension">
    <span class="item-title">{{localize "TWODSIX.Actor.Finances.PENSION"}}</span>
    <input name="system.finances.pension" type="text" value="{{system.finances.pension}}" placeholder="0"/>
  </div>

  <div class="debt">
    <span class="item-title">{{localize "TWODSIX.Actor.Finances.DEBT"}}</span>
    <input name="system.finances.debt" type="text" value="{{system.finances.debt}}" placeholder="0"/>
  </div>

  <div class="ship-payments">
    <span class="item-title">{{localize "TWODSIX.Actor.Finances.SHIP_PAYMENTS_MONTHLY"}}</span>
    <input name="system.finances.payments" type="text" value="{{system.finances.payments}}" placeholder="0"/>
  </div>

  <div class="living-costs">
    <span class="item-title">{{localize "TWODSIX.Actor.Finances.LIVING_COSTS"}}</span>
    <input name="system.finances.livingCosts" type="text" value="{{system.finances.livingCosts}}" placeholder="0"/>
  </div>

  <div class="financial-notes"><span class="item-title">{{localize "TWODSIX.Actor.Finances.FINANCIAL_NOTES"}}</span>
    <div contenteditable="true" data-edit="system.finances.financial-notes">{{{system.finances.financial-notes}}}</div>
  </div>
</div>

