<span class="item-controls centre">
  <a class="item-control item-toggle" data-tooltip='{{localize (concat "TWODSIX.Actor.Items.LocationState." item.system.equipped)}}' data-action="toggleItem"><i class="{{twodsix_getEquippedIcon item.system.equipped}}"></i></a>
  <a class="item-control item-chat" data-tooltip='{{localize "TWODSIX.Actor.Items.SendToChat"}}' data-action="showChat"><i class="fa-solid fa-message"></i></a>
  <a class="item-control item-edit" data-tooltip='{{localize "TWODSIX.Actor.Items.EditItem"}}' data-action="itemEdit"><i class="fa-solid fa-pen-to-square"></i></a>
  <a class="item-control item-delete" data-tooltip='{{localize "TWODSIX.Actor.Items.DeleteItem"}}' data-action="itemDelete"><i class="fa-solid fa-trash"></i></a>
</span>
