<!-- Biographical Information-->
<span class="bgi-homeWorld" data-tooltip='{{localize "TWODSIX.Actor.HomeWorld"}}'><i class="fa-solid fa-globe"></i>:<input
        name="system.homeWorld" type="text" value="{{system.homeWorld}}"
        placeholder='{{localize "TWODSIX.Actor.HomeWorld"}}' onClick="this.select();"/>
</span>
<span class="bgi-species" data-tooltip='{{localize "TWODSIX.Actor.Species"}}'><i class="fa-solid fa-dna"></i>:
  <input name="system.species" type="text" value="{{system.species}}" placeholder='{{localize "TWODSIX.Actor.Species"}}' onClick="this.select();"/>
</span>
<br>
{{#if settings.animalsUseLocations}}
<span class="bgi-location" data-tooltip='{{localize "TWODSIX.Animal.Location"}}'><i class="fa-solid fa-mountain-city"></i>:
  <select name="system.location" >
    {{selectOptions config.AnimalLocations selected=system.location localize=true inverted=false}}
  </select>
</span>
{{else}}
  <span class="bgi-niche" data-tooltip='{{localize "TWODSIX.Animal.Niche"}}'><i class="fa-solid fa-utensils"></i>:
    <select name="system.animalType.niche" >
      {{selectOptions config.AnimalNiche selected=system.animalType.niche localize=true inverted=false}}
    </select>
  </span>
  <span class="bgi-type" data-tooltip='{{localize "TWODSIX.Animal.Type"}}'><i class="fa-solid fa-bowl-food"></i>:
    {{#iff system.animalType.niche "===" "other"}}
      <span class="short-input">
        <input class="short-input" name="system.animalType.subtype" type="text" value="{{system.animalType.subtype}}" data-tooltip='{{localize "TWODSIX.Animal.Type"}}'/>
      </span>
    {{else}}
      <select name="system.animalType.subtype">
        {{#unless settings.useAllAnimalTypes}}
          {{#iff system.animalType.niche "===" "herbivore"}}
              {{selectOptions config.HerbivoreType selected=system.animalType.subtype localize=true inverted=false}}
          {{else iff system.animalType.niche "===" "omnivore"}}
            {{selectOptions config.OmnivoreType selected=system.animalType.subtype localize=true inverted=false}}
          {{else iff system.animalType.niche "===" "carnivore"}}
            {{selectOptions config.CarnivoreType selected=system.animalType.subtype localize=true inverted=false}}
          {{else iff system.animalType.niche "===" "scavenger"}}
            {{selectOptions config.ScavengerType selected=system.animalType.subtype localize=true inverted=false}}
          {{/iff}}
        {{else}}
          {{selectOptions config.AllAnimalTypes selected=system.animalType.subtype localize=true inverted=false}}
        {{/unless}}
      </select>
    {{/iff}}

  </span>
{{/if}}
<br>
{{#unless limited}}
  <!-- Reaction Information -->
  {{#if settings.displayReactionMorale}}
  <span class="bgi-reaction">
    <span class="roll-reaction orange" style="align-self: center;" data-action="rollReaction"><i class="fa-solid fa-person-circle-question" data-tooltip='{{localize "TWODSIX.Animal.Reaction"}}'></i>:</span>
    <span>{{localize "TWODSIX.Animal.Attack"}}:
    <input name="system.reaction.attack" type="number" value="{{system.reaction.attack}}" data-tooltip="{{twodsix_getTooltip actor 'system.reaction.attack'}}"/>
    </span>
    <span>{{localize "TWODSIX.Animal.Flee"}}:
    <input name="system.reaction.flee" type="number" value="{{system.reaction.flee}}" data-tooltip="{{twodsix_getTooltip actor 'system.reaction.flee'}}"/>
    </span>
    <span class="roll-morale orange" style="align-self: center;" data-action="rollMorale"><i class="fa-solid fa-hand-fist" data-tooltip='{{localize "TWODSIX.Animal.MoraleRoll"}}'></i>:</span>
    <input name="system.moraleDM" type="text" value="{{system.moraleDM}}" data-tooltip="{{twodsix_getTooltip actor 'system.moraleDM'}}" placeholder='{{localize "TWODSIX.Items.Component.DM"}}'/>
    </span>
  <br>
  {{/if}}

  <!-- Protection Information-->
  {{> "systems/twodsix/templates/actors/parts/actor/actor-animal-robot-protection.hbs"}}

  <!-- Damage Stats Information-->
  {{> "systems/twodsix/templates/actors/parts/actor/actor-animal-robot-damage.hbs"}}

  <!-- Movement -->
  {{> "systems/twodsix/templates/actors/parts/actor/actor-movement.hbs"}}

  <!-- Characteristic Edit Mode -->
  {{#unless settings.dontShowStatBlock}}
    <span class="bgi-charEdit" data-tooltip='{{localize "TWODSIX.Actor.CharacteristicEdit"}}'><i class="fa-solid fa-pen-to-square"></i>:
      <input type="checkbox" class="checkbox" name="system.characteristicEdit" {{checked system.characteristicEdit}} data-dtype="Boolean" />
    </span>
  {{/unless}}
{{/unless}}
