<!-- Biographical Information-->
{{#unless settings.useNationality}}
  <span class="bgi-homeWorld" data-tooltip='{{localize "TWODSIX.Actor.HomeWorld"}}'><i class="fa-solid fa-globe"></i>:<input
          name="system.homeWorld" type="text" value="{{system.homeWorld}}"
          placeholder='{{localize "TWODSIX.Actor.HomeWorld"}}' onClick="this.select();" /> </span>
{{else}}
  <span class="bgi-homeWorld bgi-nationality" data-tooltip='{{localize "TWODSIX.Actor.Nationality"}}'><i class="fa-solid fa-flag"></i>:<input
    name="system.nationality" type="text" value="{{system.nationality}}"
    placeholder='{{localize "TWODSIX.Actor.Nationality"}}' onClick="this.select();" /> </span>
{{/unless}}
<span class="bgi-age" data-tooltip='{{localize "TWODSIX.Actor.Age"}}'>
  <i class="fa-solid fa-calendar-days"></i>:<input type="number" name="system.age.value" value="{{system.age.value}}" placeholder="0" data-dtype="Number" /></span>
<!-- Hero Points Information-->
{{#if settings.showHeroPoints}}
  <span class="bgi-armor bgi-heroPoints" data-tooltip='{{localize "TWODSIX.Actor.HeroPoints"}}'>
  <i class="fa-solid fa-medal"></i>:<input type="number" name="system.heroPoints" value="{{system.heroPoints}}" min="0"
        step="1" placeholder="2" /></span>
{{/if}}
<br>
<span class="bgi-species" data-tooltip='{{localize "TWODSIX.Actor.Species"}}'><i class="fa-solid fa-dna"></i>:
  <input name="system.species" type="text" value="{{system.species}}" placeholder='{{localize "TWODSIX.Actor.Species"}}' onClick="this.select();"/>
</span>
<span class="bgi-gender" data-tooltip='{{localize "TWODSIX.Actor.Gender"}}'><i class="fa-solid fa-venus-mars"></i>:
  <input name="system.gender" type="text" value="{{system.gender}}" placeholder='{{localize "TWODSIX.Actor.Gender"}}' onClick="this.select();"/>
</span>
<br>
{{#unless limited}}
<!-- Protection Information-->
{{#if settings.useCTData}}
    <span class="bgi-armorType" data-tooltip='{{localize "TWODSIX.Items.Armor.Armor"}}'><i class="fa-solid fa-user-shield"></i>:<input name="system.armorType" type="text" value="{{localize (concat 'TWODSIX.Chat.Roll.ArmorTypes.' system.armorType)}}"
      placeholder='0' readonly data-tooltip="{{twodsix_getTooltip actor 'system.armorType'}}"/>
      {{#if system.reflectOn}}<i class="fa-solid fa-arrow-trend-up" data-tooltip="{{localize 'TWODSIX.Items.Armor.WearingReflec'}}"></i>{{/if}}
    </span>
    <span class="bgi-armorDM">{{localize "TWODSIX.Items.Armor.armorDM"}}:<input type="number" value="{{system.armorDM}}"
      placeholder='0' readonly data-tooltip="{{twodsix_getTooltip actor 'system.armorDM'}}"/></span><br>
{{else}}
  <span class="bgi-armor" data-tooltip='{{localize "TWODSIX.Items.Armor.Armor"}}'><i class="fa-solid fa-user-shield"></i>:
    {{#unless settings.useCUData}}
      <input style="text-align: right; padding-left: 0;" type="number" value="{{system.primaryArmor.value}}" placeholder='0' readonly data-tooltip="{{concat (localize 'TWODSIX.Items.Armor.PrimaryArmor') (twodsix_getTooltip actor 'system.primaryArmor.value')}}"/>
      {{#unless settings.showTotalArmor}}
        +<input type="number" value="{{system.secondaryArmor.value}}"
            placeholder='0' readonly data-tooltip="{{concat (localize 'TWODSIX.Items.Armor.SecondaryArmor') system.protectionTypes}}"/>
      {{else}}
        /<input type="number" value="{{system.totalArmor}}"
            placeholder='0' readonly data-tooltip="{{concat (localize 'TWODSIX.Items.Armor.TotalArmor') system.protectionTypes}}"/>
      {{/unless}}
    {{else}}
      <input name="system.secondaryArmor.value" type="number" value="{{system.secondaryArmor.value}}"
        placeholder='0' readonly data-tooltip="{{concat (localize 'TWODSIX.Items.Armor.ArmorProtectionTypes') system.protectionTypes}}"/>
    {{/unless}}
  </span>
  <span class="bgi-armor bgi-radProtect" data-tooltip='{{localize "TWODSIX.Items.Armor.RadProt"}}'><i class="fa-solid fa-circle-radiation"></i>:<input
          type="number" value="{{system.radiationProtection.value}}" placeholder='0' min="0" readonly data-tooltip="{{twodsix_getTooltip actor 'system.radiationProtection.value'}}"/></span>
{{/if}}
<span class={{#if settings.useCTData}}"bgi-encumbrance-wide"{{else}}"bgi-encumbrance"{{/if}} data-tooltip='{{localize "TWODSIX.Items.Encumbrance"}}'>
  {{#iff system.encumbrance.value ">" system.encumbrance.max}}
  {{#iff system.encumbrance.max ">" "0"}}
    <i class="fa-solid fa-weight-hanging" style="color:brown;"></i>
  {{else}}
    <i class="fa-solid fa-weight-hanging"></i>
  {{/iff}}
  {{else}}
  <i class="fa-solid fa-weight-hanging"></i>
  {{/iff}}:<input style="text-align: right;" type="number" value="{{system.encumbrance.value}}" placeholder='0' readonly data-tooltip="{{twodsix_getTooltip actor 'system.encumbrance.value'}}"/>
      /{{#if (eq system.encumbrance.max settings.Infinity)}}<i class="fa-solid fa-infinity"></i>{{else}}<input type="number" value="{{system.encumbrance.max}}" placeholder='0' readonly data-tooltip="{{twodsix_getTooltip actor 'system.encumbrance.max'}}"/>{{/if}}
</span>
{{#unless settings.useCTData}}<br>{{/unless}}

<!-- Damage Stats Information-->
{{#if settings.showLifebloodStamina}}
<span class="bgi-char-narrow bgi-stamina-value" data-tooltip='{{localize "TWODSIX.Actor.Stamina"}}'>
    {{#iff system.characteristics.stamina.value ">" system.characteristics.stamina.damage}}
    <i class="fa-solid fa-battery-half"></i>
    {{else}}
        <i class="fa-solid fa-battery-empty" style="color:brown;"></i>
    {{/iff}}:<input type="number" value="{{system.characteristics.stamina.value}}" min="0"
      {{#if (twodsix_getTooltip actor 'system.characteristics.stamina.value')}}
        data-tooltip="{{twodsix_getTooltip actor 'system.characteristics.stamina.value'}}"
        readonly
      {{else}}
        name="system.characteristics.stamina.value"
      {{/if}}
    />-
  </span>
<span class="bgi-char-wide bgi-stamina-damage" data-tooltip='{{localize "TWODSIX.Actor.Stamina"}}'><input type="number"
        name="system.characteristics.stamina.damage" value="{{system.characteristics.stamina.damage}}" min="0" max="{{system.characteristics.stamina.value}}"/></span>
<span class="bgi-char-narrow bgi-lifeblood-value" data-tooltip='{{localize "TWODSIX.Actor.Lifeblood"}}'>
  <i class="fa-solid fa-heart-pulse"></i>:<input type="number" value="{{system.characteristics.lifeblood.value}}" min="0"
    {{#if (twodsix_getTooltip actor 'system.characteristics.lifeblood.value')}}
      data-tooltip="{{twodsix_getTooltip actor 'system.characteristics.lifeblood.value'}}"
      readonly
    {{else}}
      name="system.characteristics.lifeblood.value"
    {{/if}}
  />-
</span>
<span class="bgi-char-wide bgi-lifeblood-damage" data-tooltip='{{localize "TWODSIX.Actor.Lifeblood"}}'>
    <input type="number" name="system.characteristics.lifeblood.damage" value="{{system.characteristics.lifeblood.damage}}" min="0" max="{{system.characteristics.lifeblood.value}}"/></span>
{{/if}}
<span class="bgi-char-wide bgi-radiationDose" data-tooltip='{{localize "TWODSIX.Actor.RadiationExposure"}}'><i class="fa-solid fa-radiation"></i>:<input
        name="system.radiationDose.value" value={{system.radiationDose.value}} min="0" type="number" data-tooltip="{{twodsix_getTooltip actor 'system.radiationDose.value'}}"/></span><br>

<!-- Movement -->
{{> "systems/twodsix/templates/actors/parts/actor/actor-movement.hbs"}}

<!-- Characteristic Edit Mode -->
<span class="bgi-charEdit" data-tooltip='{{localize "TWODSIX.Actor.CharacteristicEdit"}}'><i class="fa-solid fa-pen-to-square"></i>:
  <input type="checkbox" class="checkbox" name="system.characteristicEdit" {{checked system.characteristicEdit}} data-dtype="Boolean" />
</span>
{{/unless}}
