<span class="item-name">{{localize "TWODSIX.Actor.Items.Name"}}</span>
<span class="item-name centre">{{localize "TWODSIX.Actor.Items.Subtype"}}</span>
<span class="item-name centre">{{localize "TWODSIX.Actor.Items.TL"}}</span>
<span class="item-name centre">{{localize "TWODSIX.Actor.Items.Weight"}}</span>
<span class="item-name centre">{{localize "TWODSIX.Actor.Items.Qty"}}</span>
<span class="item-name centre"><a class="item-control item-create" data-tooltip='{{localize "TWODSIX.Actor.Items.CreateItem"}}' data-type="storage" data-action="itemCreate"><i
  class="fa-solid fa-plus"></i></a></span>
