{{#if hasMaterialBenefits}}
  <p><strong>{{localize "TWODSIX.CharGen.Output.MaterialBenefits"}}:</strong> {{materialBenefitsText}}</p>
{{/if}}
{{#if hasMedicalDebt}}
  <p><strong>{{localize "TWODSIX.CharGen.Output.MedicalDebt"}}:</strong> Cr{{medicalDebtFormatted}}</p>
{{/if}}
{{#if hasChargenNotes}}
  <p><strong>{{localize "TWODSIX.CharGen.Output.ChargenNotes"}}:</strong></p>
  <ul>{{#each chargenNotes}}
    <li>{{this}}</li>{{/each}}</ul>
{{/if}}
