<div class="storage-wrapper-auto">
  <div class="grid-columns-component components-header">
    <div class="components-stored">
      <span class="item-name">{{localize "TWODSIX.Items.Component.componentName"}}</span>
      <span class="item-name centre">{{localize "TWODSIX.Actor.Items.TL"}}</span>
      <span class="item-name centre">{{localize "TWODSIX.Items.Component.DM"}}</span>
      <span class="item-name centre">{{localize "TWODSIX.Actor.Items.Qty"}}</span>
      <span class="item-name centre">{{localize "TWODSIX.Items.Component.FireArc"}}</span>
      <span class="item-name centre">{{localize "TWODSIX.Items.Component.damage"}}</span>
      <span class="item-name centre">{{localize "TWODSIX.Items.Component.hits"}}</span>
      <span class="item-name centre">{{localize "TWODSIX.Items.Component.status"}}</span>
      <span class="item-name centre"><a class="item-control item-create" data-tooltip='{{localize "TWODSIX.Actor.Items.CreateItem"}}' data-type="component" data-subtype = "otherInternal" data-action="itemCreate"> <i class="fa-solid fa-plus"></i></a></span>
    </div>
  </div>

  <div class="item-list grid-columns-component">
    {{#each container.component as |item id|}}
    <div class="grid-columns-single-row item" data-item-id="{{item.id}}">
      <ol class="ol-no-indent">
        <li class="components-stored">
          <span class="item-name">{{item.name}} <i class= '{{twodsix_getComponentIcon item.system.subtype}}' data-tooltip='{{localize (concat "TWODSIX.Items.Component." item.system.subtype)}}'></i></span>
          <span class="item-name centre">{{#iff item.system.techLevel ">" "0"}}{{item.system.techLevel}}{{else}}&mdash;{{/iff}}</span>
          <span class="item-name centre">{{#iff item.system.rollModifier "!==" ""}}{{item.system.rollModifier}}{{else}}&mdash;{{/iff}}</span>
          {{#iff item.system.subtype "===" "armament"}}
            {{> "systems/twodsix/templates/actors/parts/common/armament-qty.hbs" item=item}}
            <span class="item-name centre"><input disabled style="{{makeFireArc item.system.fireArc.startAngle item.system.fireArc.endAngle}}"/></span>
          {{else}}
            <span class="item-name centre">{{#if item.system.availableQuantity}}{{item.system.availableQuantity}}/{{/if}}{{item.system.quantity}}</span>
            <span class="item-name centre">&mdash;</span>
          {{/iff}}

          <span class="item-name centre">
            {{#iff item.system.damage "!==" ""}}<span class="roll-damage orange" data-action="rollDamage">{{twodsix_limitLength item.system.damage 3}}{{else}}&mdash;{{/iff}}</span>
          </span>
          <span class="item-name centre with-buttons">
            {{item.system.hits}}
            <span class="combined-buttons" data-field="hits">
              <button type="button" class="left-button adjust-counter" {{#iff item.system.hits "===" 0}}disabled{{/iff}} data-action="adjustCounter" data-value="-1" >-</button>
              <button type="button" class="right-button adjust-counter" {{#iff item.system.hits "===" ../settings.maxComponentHits}}disabled{{/iff}} data-action="adjustCounter" data-value="1" >+</button>
            </span>
          </span>
          <span class="item-name centre" >
            {{> "systems/twodsix/templates/actors/parts/common/component-status.hbs" item=item}}
            {{> "systems/twodsix/templates/actors/parts/common/popup-state.hbs" item=item}}
          </span>
          <span class="item-controls centre">
            <a class="item-control item-edit" data-tooltip='{{localize "TWODSIX.Actor.Items.EditItem"}}' data-action="itemEdit"><i
              class="fa-solid fa-pen-to-square"></i></a>
            <a class="item-control item-delete" data-tooltip='{{localize "TWODSIX.Actor.Items.DeleteItem"}}' data-action="itemDelete"><i
              class="fa-solid fa-trash"></i></a>
          </span>
        </li>
      </ol>
    </div>
    {{/each}}
  </div>
</div>
