  <table class="vehicle-stats-table">
  <thead>
    <tr class="table-header-row vehicle">
        <th></th>
        <th class="vehicle-cell">{{localize "TWODSIX.Damage.Current"}}</th>
        <th class="vehicle-cell">{{localize "TWODSIX.Damage.Max"}}</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>{{localize "TWODSIX.Vehicle.Armor"}}</td>
        <td class="vehicle-cell"><input type="number" value="{{actor.system.damageStats.armor.value}}" name="system.damageStats.armor.value" placeholder="0" max = "{{actor.system.damageStats.armor.max}}" min = "{{actor.system.damageStats.armor.min}}"/></td>
        <td class="vehicle-cell"><input type="number" value="{{actor.system.damageStats.armor.max}}" name="system.damageStats.armor.max" placeholder="0"/></td>
      </tr>
      <tr>
        <td>{{localize "TWODSIX.Vehicle.Hull"}}</td>
        <td class="vehicle-cell"><input type="number" value="{{actor.system.damageStats.hull.value}}" name="system.damageStats.hull.value" placeholder="0" max = "{{actor.system.damageStats.hull.max}}" min = "{{actor.system.damageStats.hull.min}}"/></td>
        <td class="vehicle-cell"><input type="number" value="{{actor.system.damageStats.hull.max}}" name="system.damageStats.hull.max" placeholder="0"/></td>
      </tr>
      <tr>
        <td>{{localize "TWODSIX.Vehicle.Structure"}}</td>
        <td class="vehicle-cell"><input type="number" value="{{actor.system.damageStats.structure.value}}" name="system.damageStats.structure.value" placeholder="0" max = "{{actor.system.damageStats.structure.max}}" min = "{{actor.system.damageStats.structure.min}}"/></td>
        <td class="vehicle-cell"><input type="number" value="{{actor.system.damageStats.structure.max}}" name="system.damageStats.structure.max" placeholder="0"/></td>
      </tr>
  </tbody>
  </table>
